body {
  background-image: url(../assets/destination/background-destination-desktop.jpg);
}
h2 {
  position: absolute;
  top: 25%;
  left: 150px;
}
h4 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  /* identical to box height */
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}
h5 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  color: #d0d6f9;
  margin-bottom: 0;
}
img {
  position: absolute;
  top: 50%;
  left: 150px;
}
a {
  margin-left: 0;
  margin-right: 40px;
}

.hrdes {
  position: absolute;
  width: 120px;
  height: 3px;
  left: 700px;
  top: 97px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.intro {
  width: 450px;
  position: absolute;
  top: 45%;
  left: 700px;
}
.anchor2 {
  margin-bottom: 40px;
}
.hrmoon {
  position: absolute;
  width: 38px;
  height: 2px;
  left: 0px;
  top: 25px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.hrmars {
  position: absolute;
  width: 38px;
  height: 2px;
  left: 82px;
  top: 25px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.hreu {
  position: absolute;
  width: 52px;
  height: 2px;
  left: 164px;
  top: 25px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.hrtitan {
  position: absolute;
  width: 40px;
  height: 2px;
  left: 262px;
  top: 25px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.hrinfor {
  position: absolute;
  width: 440px;
  height: 1px;
  left: 0px;
  top: 350px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}
.infor {
  display: inline-block;
  position: relative;
  top: 40px;
  margin-right: 70px;
}
