body {
  background-image: url(../assets/technology/background-technology-desktop.jpg);
}
h1 {
  font-size: 50px;
  margin: 0 auto;
}
h2 {
  position: absolute;
  top: 25%;
  left: 150px;
}
h3 {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 2.7px;

  color: #d0d6f9;
  margin: 0 auto;
}
p {
  margin: 0;
}

#portrait {
  position: absolute;
  width: auto;
  height: 30em;
  left: 780px;
  top: 200px;
  padding-bottom: 50px;
}

.hrtech {
  position: absolute;
  width: 115px;
  height: 3px;
  left: 988px;
  top: 97px;
  margin-top: 0;
  background: #ffffff;
  opacity: 100;
}
.intro {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 250px;
}
.anchor2 {
  position: absolute;
  left: 100px;
  top: 270px;
}
.anchor3 {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */
  color: #ffffff;

  text-align: center;
  padding-top: 18px;
  letter-spacing: 2px;

  mix-blend-mode: normal;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: block;
  margin-bottom: 50px;
}
#anchornow {
  font-family: "Bellefair";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  color: #0b0d17;

  text-align: center;
  padding-top: 18px;
  letter-spacing: 2px;

  mix-blend-mode: normal;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: block;
  margin-bottom: 50px;
  background-color: #ffffff;
}
